[submodule "Plex"]
	path = Plex
	url = git@github.com:bens-home/Plex.git
[submodule "PiHole"]
	path = PiHole
	url = git@github.com:bens-home/PiHole.git
[submodule "minecraft"]
	path = minecraft
	url = git@github.com:bens-home/minecraft.git
[submodule "tools"]
	path = tools
	url = git@github.com:bens-home/tools.git
[submodule "NoIpUpdateClient"]
	path = NoIpUpdateClient
	url = git@github.com:bens-home/NoIpUpdateClient.git
[submodule "PerforceServer"]
	path = PerforceServer
	url = git@github.com:bens-home/PerforceServer.git
[submodule "focalboard"]
	path = focalboard
	url = git@github.com:bens-home/focalboard.git
[submodule "UnifiController"]
	path = UnifiController
	url = git@github.com:bens-home/UnifiController.git
[submodule "Calibre"]
	path = Calibre
	url = git@github.com:bens-home/Calibre.git
[submodule "jellyfin"]
	path = jellyfin
	url = git@github.com:bens-home/jellyfin.git
