[submodule "Plex"]
	path = Plex
	url = git@github.com:bens-home/Plex.git
[submodule "PiHole"]
	path = PiHole
	url = git@github.com:bens-home/PiHole.git
[submodule "minecraft"]
	path = minecraft
	url = git@github.com:bens-home/minecraft.git
[submodule "tools"]
	path = tools
	url = git@github.com:bens-home/tools.git
